# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
apps/web/.next/
apps/web/out/

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# figma plugin
apps/figma-plugin/dist/

# android
*.jks
*.keystore
keystore.properties
apps/tv-android/.gradle/
apps/tv-android/**/build/
apps/tv-android/local.properties
